In [2]:
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt

data_path = Path("../../data/")   # full path to the HEF folder

train_df = pd.read_csv(data_path / "mimic_train_HEF.csv", low_memory=False)
test_df  = pd.read_csv(data_path / "mimic_test_HEF.csv",  low_memory=False)

train_df.shape, test_df.shape

((20885, 44), (5221, 39))

drop all unnecesarry colums (maybe later keep DOB for age)
SPo2 ook nog is nazien of we die er wel best uitlaten

In [4]:
import pandas as pd
import numpy as np


def summarize_dataframe(df, max_samples=10):
    summary = []

    for col in df.columns:
        dtype = df[col].dtype
        series = df[col]

        n_missing = series.isna().sum()
        n_unique = series.nunique(dropna=True)

        if np.issubdtype(dtype, np.number):
            # Numeric summary
            col_min = series.min()
            col_max = series.max()
            col_mean = series.mean()
            col_std = series.std()

            # Example numeric values (non-missing)
            examples = series.dropna().sample(
                min(max_samples, len(series.dropna())), 
                random_state=42
            ).round(2).astype(str).tolist()

            example_values = ", ".join(examples)

        else:
            # Categorical summary
            col_min = col_max = col_mean = col_std = None

            # Get sample categories WITHOUT missing values
            unique_vals = (
                series.dropna()
                .unique()[:max_samples]
            )  # already excludes NaN

            example_values = ", ".join(map(str, unique_vals))

        summary.append({
            "column": col,
            "dtype": str(dtype),
            "missing": n_missing,
            "unique": n_unique,
            "min": col_min,
            "max": col_max,
            "mean": col_mean,
            "std": col_std,
            "sample_values": example_values
        })

    return pd.DataFrame(summary)


# Run on your cleaned X dataset (after dropping leakage + IDs)
summary_df = summarize_dataframe(train_df)
summary_df

,column,dtype,missing,unique,min,max,mean,std,sample_values
0,HOSPITAL_EXPIRE_FLAG,int64,0,2,0.000000,1.000000,0.112282,0.315720,"0, 0, 0, 0, 0, 0, 0, 0, 0, 0"
1,subject_id,int64,0,16317,23.000000,99999.000000,58950.496098,25299.439535,"63519, 74795, 54587, 19296, 85539, 69123, 5921..."
2,hadm_id,int64,0,19749,100001.000000,199999.000000,150082.402298,28898.479845,"170597, 102641, 102683, 186066, 179291, 159666..."
3,icustay_id,int64,0,20885,200001.000000,299998.000000,250202.495523,28909.806302,"211145, 215021, 218147, 231806, 202318, 201748..."
4,HeartRate_Min,float64,2187,131,2.000000,141.000000,69.705904,14.869840,"71.0, 72.0, 66.0, 74.0, 62.0, 68.0, 66.0, 73.0..."
5,HeartRate_Max,float64,2187,164,39.000000,280.000000,105.239801,20.922613,"98.0, 134.0, 107.0, 103.0, 77.0, 99.0, 98.0, 1..."
6,HeartRate_Mean,float64,2187,14091,34.714286,163.875000,85.180250,15.318208,"82.29, 96.17, 80.58, 91.76, 69.0, 81.6, 80.07,..."
7,SysBP_Min,float64,2208,154,5.000000,181.000000,91.110564,17.532534,"98.0, 100.0, 101.0, 77.0, 97.0, 83.0, 80.0, 60..."
8,SysBP_Max,float64,2208,190,46.000000,323.000000,150.725920,23.833793,"130.0, 165.0, 157.0, 131.0, 124.0, 116.0, 135...."
9,SysBP_Mean,float64,2208,13779,46.000000,202.172414,119.145423,16.701503,"111.5, 141.17, 121.62, 91.28, 112.32, 99.88, 9..."
10,DiasBP_Min,float64,2209,95,4.000000,105.000000,44.327854,11.909852,"52.0, 39.0, 54.0, 54.0, 39.0, 43.0, 31.0, 43.0..."
11,DiasBP_Max,float64,2209,168,27.000000,294.000000,88.360784,19.285554,"79.0, 84.0, 80.0, 95.0, 51.0, 63.0, 81.0, 63.0..."
12,DiasBP_Mean,float64,2209,12694,17.000000,121.489362,62.511614,11.010790,"64.73, 58.68, 65.44, 75.06, 43.32, 54.58, 50.2..."
13,MeanBP_Min,float64,2186,111,1.000000,122.000000,56.293064,14.348780,"71.0, 64.0, 61.0, 60.0, 4.0, 59.0, 63.0, 61.0,..."
14,MeanBP_Max,float64,2186,247,29.000000,299.000000,107.074282,27.585990,"114.0, 94.0, 125.0, 98.0, 83.0, 119.0, 97.0, 1..."
15,MeanBP_Mean,float64,2186,13116,25.759907,136.652174,77.609535,11.113299,"93.19, 82.0, 90.15, 71.74, 66.09, 74.26, 77.04..."
16,RespRate_Min,float64,2189,32,1.000000,31.000000,11.919207,3.572189,"8.0, 12.0, 7.0, 12.0, 14.0, 17.0, 8.0, 10.0, 1..."
17,RespRate_Max,float64,2189,58,12.000000,69.000000,27.780220,6.278514,"67.0, 38.0, 25.0, 18.0, 22.0, 28.0, 28.0, 35.0..."
18,RespRate_Mean,float64,2189,8875,9.291667,41.235294,18.985855,3.849713,"27.92, 21.5, 15.65, 15.0, 16.53, 21.58, 15.67,..."
19,TempC_Min,float64,2497,197,15.000000,40.100000,36.051208,0.732124,"36.44, 36.06, 35.06, 35.56, 36.89, 34.2, 35.17..."
20,TempC_Max,float64,2497,203,30.800000,42.000000,37.428781,0.799897,"37.72, 37.17, 35.78, 36.67, 37.78, 38.5, 36.17..."
21,TempC_Mean,float64,2497,4353,30.666667,40.238333,36.751717,0.603476,"36.8, 36.73, 35.54, 36.01, 37.33, 37.05, 35.74..."
22,SpO2_Min,float64,2203,93,1.000000,100.000000,91.007494,7.399390,"71.0, 89.0, 95.0, 88.0, 92.0, 94.0, 92.0, 95.0..."
23,SpO2_Max,float64,2203,22,57.000000,100.000000,99.555883,1.159792,"100.0, 100.0, 100.0, 99.0, 100.0, 100.0, 98.0,..."
24,SpO2_Mean,float64,2203,6366,47.666667,100.000000,96.866685,2.333108,"98.3, 96.71, 99.06, 94.03, 98.0, 98.52, 95.39,..."
25,Glucose_Min,float64,253,326,2.000000,563.000000,106.781975,35.178811,"99.0, 88.0, 86.0, 81.0, 97.0, 138.0, 89.0, 98...."
26,Glucose_Max,float64,253,598,42.000000,2440.000000,182.129604,92.665603,"151.0, 135.0, 143.0, 158.0, 265.0, 329.0, 344...."
27,Glucose_Mean,float64,253,6219,42.000000,771.900000,138.856428,44.933145,"117.75, 109.56, 104.0, 120.73, 142.57, 207.73,..."
28,GENDER,object,0,2,NaN,NaN,NaN,NaN,"F, M"
29,DOB,object,0,14007,NaN,NaN,NaN,NaN,"2108-07-16 00:00:00, 2087-01-16 00:00:00, 2057..."
30,DOD,object,13511,4901,NaN,NaN,NaN,NaN,"2180-03-09 00:00:00, 2132-03-01 00:00:00, 2147..."
31,ADMITTIME,object,0,19714,NaN,NaN,NaN,NaN,"2178-02-06 10:35:00, 2129-02-12 22:34:00, 2125..."
32,DISCHTIME,object,0,19706,NaN,NaN,NaN,NaN,"2178-02-13 18:30:00, 2129-02-13 16:20:00, 2125..."
33,DEATHTIME,object,18540,2093,NaN,NaN,NaN,NaN,"2129-10-15 13:30:00, 2172-03-08 13:20:00, 2126..."
34,Diff,float64,0,16317,-72740.274440,-32157.494580,-51617.069830,10686.395846,"-62668.06, -33710.09, -40829.03, -54927.43, -5..."
35,ADMISSION_TYPE,object,0,3,NaN,NaN,NaN,NaN,"EMERGENCY, ELECTIVE, URGENT"
36,INSURANCE,object,0,5,NaN,NaN,NaN,NaN,"Medicare, Private, Medicaid, Self Pay, Government"
37,RELIGION,object,0,17,NaN,NaN,NaN,NaN,"PROTESTANT QUAKER, UNOBTAINABLE, NOT SPECIFIED..."
38,MARITAL_STATUS,object,722,7,NaN,NaN,NaN,NaN,"SINGLE, MARRIED, SEPARATED, WIDOWED, DIVORCED,..."
39,ETHNICITY,object,0,41,NaN,NaN,NaN,NaN,"WHITE, BLACK/AFRICAN AMERICAN, BLACK/CAPE VERD..."
40,DIAGNOSIS,object,0,6193,NaN,NaN,NaN,NaN,"GASTROINTESTINAL BLEED, ESOPHAGEAL FOOD IMPACT..."
41,ICD9_diagnosis,object,0,1853,NaN,NaN,NaN,NaN,"5789, 53013, 56983, 5533, 56211, 5550, 5513, 1..."
42,FIRST_CAREUNIT,object,0,5,NaN,NaN,NaN,NaN,"MICU, SICU, TSICU, CSRU, CCU"
43,LOS,float64,0,16891,0.056600,101.739000,3.701046,5.175721,"1.02, 1.16, 0.78, 1.41, 0.62, 2.46, 2.88, 3.04..."

In [ ]:
# --- 1. Columns to drop (from our earlier analysis)
drop_cols = ['LOS', 'subject_id', 'hadm_id', 'icustay_id', 'ADMITTIME','DISCHTIME', 'DEATHTIME', 'DOD', 'DOB', 'Diff', 'SpO2_Max']

# --- 2. Target column
target_col = 'HOSPITAL_EXPIRE_FLAG'

# --- 3. Create X (features) and y (target)
X = train_df.drop(columns=drop_cols + [target_col])
y = train_df[target_col]

# --- 4. Also drop the same columns from the test set
X_test = test_df.drop(columns=drop_cols, errors='ignore')

# --- 5. Confirm same feature columns in train/test
print("Train shape:", X.shape)
print("Test shape:", X_test.shape)
print("Same columns in train/test:", set(X.columns) == set(X_test.columns))

Train shape: (20885, 32)
Test shape: (5221, 32)
Same columns in train/test: True

In [21]:
import numpy as np

numeric_cols = X.select_dtypes(include=[np.number]).columns.tolist()
categorical_cols = X.select_dtypes(exclude=[np.number]).columns.tolist()

print("Numeric columns:", len(numeric_cols))
print("Categorical columns:", len(categorical_cols))

Numeric columns: 23
Categorical columns: 9

## Imputing missing data

In [22]:
X[numeric_cols] = X[numeric_cols].fillna(X[numeric_cols].median())
print("Remaining missing values:", X.isna().sum().sum())
# remaining is for the categorical colum

Remaining missing values: 722

In [23]:
for col in categorical_cols:
    X[col] = X[col].fillna(X[col].mode()[0])
print("Remaining missing values after imputing categorical columns:", X.isna().sum().sum())

Remaining missing values after imputing categorical columns: 0

## outliers